<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    #
    # [Apache]ディレクトリにはスラッシュを付けるmod_dirの挙動
    # https://goo.gl/IhcilI
    #
    <IfModule mod_dir.c>
       DirectorySlash Off
    </IfModule>

    RewriteEngine On
    RewriteBase /

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d

    #
    # Laravel 5 URLの末尾/( スラッシュ )でリダイレクトさせない設定
    # https://goo.gl/zaRBuh
    #
#    RewriteRule ^(.*)/$ /$1 [L,R=301]
    RewriteRule ^(.*)/$ /$1

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
